@import "../index.module";

.textField {
    transition: color 200ms, border-color 200ms;

    & div[class^="MuiOutlinedInput"] {
        border-color: #{$gold400};
        background: linear-gradient(90deg, #{$gold400}20 30%, #{$purple600}20 90%);

        &:focus-within {
            & div[class^="MuiInputAdornment"] {
                color: $gold400;
            }
        }

        & div[class^="MuiInputAdornment"] {
            color: white;
        }

        & fieldset {
            border-color: white;
        }

        &:hover:not(&:active) fieldset[class$="notchedOutline"] {
            border-color: $gold400;
        }
    }

    & p[class^="MuiFormHelperText-root"] {
        &:not(&[class*="Mui-error"]) {
            color: $silver200;
            margin-top: map-get($gutters, "xs");
        }

        &[class*="Mui-error"] {
            color: orange;
        }
    }

    & input {
        color: white;
    }
}