@import "index.module";

html,
body {
    padding: 0;
    margin: 0;
    font-family: $poppins, $montserrat, $redHatDisplay, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    min-width: 100vw;
    min-height: 100vh;
    color: white;

    #__next {
        min-height: 100vh;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
