@mixin flex-column($reverse: false) {
    display: flex;
    flex-direction: column;

    @if $reverse {
        flex-direction: column-reverse;
    }
}

@mixin flex-row($reverse: false) {
    display: flex;

    @if $reverse {
        flex-direction: row-reverse;
    }
}

@mixin flex-center {
    align-items: center;
    justify-content: center;
}